* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
  font-family: "JetBrainsMono NFP";
  font-size: 16px;
}
window#waybar {
  color: #ebdbb2;
  background: #282828;
}
#pulseaudio,
#mpris,
#window,
#cpu,
#backlight,
#temperature,
#memory,
#wireplumber,
#wireplumber.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  color: #d79921;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#workspaces {
  margin: 0;
}

#workspaces button {
  color: #d79921;
  padding: 0px;
}
#workspaces button.focused, #workspaces button.active {
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #cc241d;
}

#window {
  color: #d79921;
}

#tray {
  padding: 5px;
}

#cpu {
}

#backlight {
}

#memory {
}

#wireplumber {
}

#wireplumber.muted {
}

#mpris,
#battery {
}

#battery.critical {
  color: #cc241d;
}

#battery.warning {
  color: #e78a4e;
}

#clock {
  color: #d79921;
}

#network {
	color: #d79921;
}

#pulseaudio {
  color: #d79921;
}
tooltip {
  background: #282828;
  border: none;
}
tooltip label {
  color: #ebdbb2;
}
